@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    background-image: url('../../public/images/hero.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_home {
    background-image: url('../../public/images/herohome.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_search {
    background-image: url('../../public/images/pexels-thorsten-technoman-109353-338514.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_contact {
    background-image: url('../../public/images/contact_hero.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_about {
    background-image: url('../../public/images/abouthero.jpg');
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.register_bg {
    background-image: url(../../public/images/register_background.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 20% 0 20%;
}
.login_bg {
    background-image: url(../../public/images/login_background.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 20% 0 20%;
}

.avatar {
    /* max-width: 100%; */
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    outline: 2px solid #1E429F;
    outline-offset: 2px;
    fill: #1E429F;
}

.rating {
    width: fit-content;
}

.rating:not(:checked)>input {
    position: absolute;
    appearance: none;
    display: none;
}

.rating:not(:checked)>label {

    float: inline-end;
    cursor: pointer;
    font-size: 30px;
    color: #666;
}

.rating:not(:checked)>label:before {
    content: '★';
}

.rating>input:checked+label:hover,
.rating>input:checked+label:hover~label,
.rating>input:checked~label:hover,
.rating>input:checked~label:hover~label,
.rating>label:hover~input:checked~label {
    color: #e58e09;
}

.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #ff9e0b;
}

.rating>input:checked~label {
    color: #ffa723;
}